<html>
  <head>
    <title>RPG Sheet Editor</title>
    <link href="css/mainContent.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script>
      const $ = require("jquery");
      var rp_toolbar = require("./scripts/toolbar");

      $(document).ready(() => {
        const mainScript = require("./scripts/mainScript");
        let fileName = false;
        const remote = require("electron").remote;

        console.log(
          "Application launched with arguments : " +
            JSON.stringify(remote.process.argv)
        );

        if (remote.app.isPackaged) {
          console.log("Running in prod env");
          if (remote.process.argv.length > 1) {
            fileName = remote.process.argv[1];
          }
        } else {
          console.log("Running in dev env");
          if (remote.process.argv.length > 2) {
            fileName = remote.process.argv[2];
          }
        }

        mainScript.initApp(fileName);
      });
    </script>
  </head>
  <body>
    <div id="menuBar"></div>
    <div id="mainContent"></div>
  </body>
</html>
