<html>
  <head>
    <title>RPG Sheet Editor</title>
    <link href="css/mainContent.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script>
      const $ = require("jquery");
      var rp_toolbar = require("./scripts/toolbar");

      $(document).ready(() => {
        const mainScript = require("./scripts/mainScript");
        const remote = require("electron").remote;

        const { ipcRenderer } = require("electron");

        ipcRenderer.on("response-opened-file", (event, fileName) => {
          console.log("Received file to open from main process : " + fileName);
          mainScript.initApp(fileName);
        });

        // Send information to the main process
        // if a listener has been set, then the main process
        // will react to the request !
        ipcRenderer.send("request-opened-file");

        mainScript.initApp();
      });
    </script>
  </head>
  <body>
    <div id="menuBar"></div>
    <div id="mainContent"></div>
  </body>
</html>
