body {
  margin: 0;
  background-color: lightgray;
  height: 100%;
  font-family: sans-serif;
}

#menuBar {
  float: left;
  height: 100%;
  width: 3%;
  min-width: 50px;
  background-color: white;
}

.toolbarButton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 0;
  width: 80%;
  display: block;
  padding: 15%;
}

#mainContent {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  height: 100%;
}

.welcomeScreenDiv {
  margin: auto;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
}

.pageContainer {
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 500px;
  flex-basis: 500px;
  flex-shrink: 0;
  flex-grow: 0;
}

.pageContainer input,
textarea {
  margin: 0;
  resize: none;
  background-color: transparent;
  font-size: 12px;
}

.optionsDiv {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 10px 0px 10px;
}

.optionsDiv > div {
  margin-bottom: 10px;
}

.optionsDiv button {
  margin-left: 10px;
}

.popInMsg {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
  font-size: 20;
  padding: 15px;
  border-radius: 15px;
}

.successMsg {
  background-color: #def0d8;
  border: #007e33 2px solid;
  color: #003a17;
}

.errorMsg {
  background-color: #f2dedf;
  border: #cc0000 2px solid;
  color: #cc0000;
}

.unscrollable {
  overflow: hidden;
  overflow-wrap: break-word;
}
